<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 minutes">
	<appender name="default" class="ch.qos.logback.core.ConsoleAppender">
         <encoder>
             <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level-%logger{5}-%c - %msg%n</pattern>
         </encoder>
    </appender>
	
	<!-- enviromnet key= logging.level, value= INFO -->
	<root level="${logging.level}">
         <appender-ref ref="default" />
   </root>
</configuration>