<div class="logon-content">
  <div class="content-img">
    <img src="../../../assets/images/1.jpg"/>
    
  </div>
  <div class="content-input-logon">
    <div class="logon-title">
        <span>用户登录</span>
    </div>
   <div class="arrow"></div>
    <div class="logon-container">
      <div class="logon-username">
          账  &nbsp;&nbsp;&nbsp; 号：<input type="text" placeholder="可使用已注册的或手机号登录"/>
          
      </div>
      <div class="logon-username">
          密   &nbsp;&nbsp;&nbsp;码：<input type="password"  placeholder="6-20个大写英文字母、符号或者数字"/>
      </div>
      <div class="verify-code">
          验证码：<input type="number"  placeholder="输入验证码"/><a href="#">验证码</a>
      </div>
      <div class="forget-pwd">
        <input type="checkbox" value="七天自动登录"/>七天自动登录 <span><a href="#">忘记密码？</a></span>
      </div>
      <div class="logon-btn">
        <input type="button" value="登录"/>
      </div>
    </div>
  </div>
</div>
